@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  font-family: "Inter", sans-serif;
}

html,
body {
  color-scheme: dark;
  user-select: none;
}

#__next {
  min-height: 100vh;
}

.title-gradient {
  background: linear-gradient(to right, #faff89, #ea72ad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.clock_animate {
  position: relative;
  background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
}
.clock_animate::before {
  content: "";
  background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
  position: absolute;
  inset: 0;
  border-radius: 50%;
  filter: blur(25px);
  z-index: -1;
}
