@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  font-family: "Inter", sans-serif;
}
bg-qr {
  background: rgba(255, 255, 255, 0.4);
}
.bg-circles {
  position: relative;
}
.bg-circles::after {
  content: "";
  right: 10rem;
  bottom: 5rem;
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 100%;
  background: #f64f59;
  filter: blur(50px);
  z-index: -1;
}
.bg-circles::before {
  content: "";
  right: 1rem;
  bottom: 15rem;
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 100%;
  background: #12c2e9;
  filter: blur(50px);
  z-index: -1;
  box-shadow: inset 100px 10px 10px #c471ed;
}
html,
body {
  color-scheme: light;
  user-select: none;
}

#__next {
  min-height: 100vh;
}

.title-gradient {
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.clock_animate {
  position: relative;
  background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
}
.clock_animate::before {
  content: "";
  background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
  position: absolute;
  inset: 0;
  border-radius: 50%;
  filter: blur(25px);
  z-index: -1;
}
